extends layout

block content
  h1= 'La Fonda de Doña Florinda'
  p Bienvenido a la fonda de Doña Florinda
  p Elija entre estos platos:
  button(onclick='contacto()') Contactenos

  h2= 'Ceviche:'
  figure
        img(src="images/ceviche.jpg", alt="primera imagen", title="Ceviche")
  
  h2= 'Lomo Saltado:'
  figure
        img(src="images/lomo_saltado.jpg", alt="primera imagen", title="Lomo saltado")
  
  h2= 'Papa a la Huancaina:'
  figure
        img(src="images/papa_a_la_huancaina.jpg", alt="primera imagen", title="Papa a la Huancaina")
  
  h2= 'Pollo a la brasa:'
  figure
        img(src="images/pollo_a_la_brasa.jpg", alt="primera imagen", title="Pollo a la pollo_a_la_brasa")
